body {
    margin: 0;
    padding: 0;
 }
 
 .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(214, 196, 34);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    box-sizing: border-box;
 }
 
 h1 {
    color: black;
    text-align: center;
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: rgba(60, 154, 226, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }
 
 label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
 }
 
 input[type=text], select {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
 }
 
 input[type=checkbox] {
    margin-left: 5px;
    margin-right: 10px;
    transform: scale(1.5);
 }
 
 input[type=submit] {
    background-color: #f26d7d;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 #results {
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
 }
 
 #results h2 {
    margin-bottom: 20px;
 }
 
 #results hr {
    width: 100%;
    margin-top: 20px;
 }
 
 #results div {
    display: flex;
    align-items: center;
    margin: 20px 0;
 }
 
 #results img {
    max-width: 100px;
    margin-right: 20px;
 }
 
 #results h3 {
    margin: 0;
    font-size: 1.2rem;
 }
 
 #results p {
    margin: 5px 0;
    font-size: 1.1rem;
 }
 
 #results a {
    color: #f26d7d;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 10px;
    transition: color 0.3s ease;
 }
 
 #results a:hover {
    color: #f07d8c;
 }
 